.root {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: end
}
.paper {
    // marginTop: theme.spacing(3),
    width: 100%;
    overflow-x: 'auto';
    // marginBottom: theme.spacing(2),
}

.imgContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px

}
.imgDiv {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.5s;
    &:hover {
        background-color: #282c3425;
        cursor: pointer
    }
}

.img {
    width: 24px;
    top: 8px;
    left: -7px;
    position: relative
}

.head {
    text-align: left;
    margin-left: 15px;
    padding-top: 5px;
}
.buttonX {
    margin-left: 15px
}